<a href="https://colab.research.google.com/github/kireli21/curso_Python/blob/main/clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo")
2+2
a= 3
a*5
3**2
"Hola mundo "*3
a= "hola"
a
a=3.2
a
a=5
a/2
a = 1
(a/2)*10
type(a)
a = "Holis"
type(a)
a = 3 + 2j
type(a)
a=3>2
type(a)
323**25
23658**145

In [ ]:
suma = 0
for c in range(10):
  suma = suma+c
  print(suma)

print("  ")
print(suma)
print("  ")

for b in range(100, 121, 2):
  print(b)

print("  ")

for a in range(120, 99, -2):
  print(a)

print("  ")

for c in "Aragon":
  print(c)

In [ ]:
#Arreglos
a = [1,2,3,4,5,6,8,9,10,12,13,14]
for e in a:
  print(e)

print("  ")

b = [1,2,0.23,"hola",4]
for f in b:
  print(f, type(f))
len(b)

print("   ")

c = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
c[15]
c[0]
c[-1]
c[-20]
c[5:11]
c[5:12:2]
c[:12]
c[6:]
c[:]
c[10:4:-1]
c[::-1]

In [76]:
#Arreglos bidimensionales
m = "hola"
print(m.capitalize())
print(m.upper())
print(m.split())

d = m.split()
d
m[0]
d[0][0]

a = [1,2,"Aragon",3.4,5]
a[0]
a[2][0]

a.append(50)
a.append(60)
a.insert(3, 70)
a.remove(5)

a

Hola
HOLA
['hola']

[1, 2, 'Aragon', 70, 3.4, 50, 60]