<a href="https://colab.research.google.com/github/kireli21/curso_Python/blob/main/clase_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if (3>2):
  print("Es mayor")

a=5
b=4

if (a>b):
  print("La condicion se cumple")
else:
  print("La condicion no se cumple")

#imprimir los divisibles entre 3
for c in range(20):
  if ((c%3)==0):
    print(c)


'''dato1 = float(input("Escribe tu dato 1: "))
dato2 = float(input("Escribe tu dato 2: "))
print("la suma es:",dato1+dato2)'''

In [40]:
def double(algo):
  print(algo*2)

double(3)

print("  ")

def esPar(n):
  return (n%2)==0

for d in range(20):
  a = esPar(d) and (d>3) and (d<15)
  b = not(d==10)
  if a and b:
    print(d)

6

4
6
8
12
14

In [ ]:
def mayor2(a,b):
  if (a>b):
    return a
  else:
    return b

print(mayor2(5,23))
print("   ")

def mayor3(a,b,c):
  if (a>b):
    if (a>c):
      return a
    else:
      if (c>b):
        return c
      else:
        return a
  else:
    if (b>c):
      return b
    else:
      if (c>a):
        return c
      else:
        return b

#mayor2(mayor2(a,b), mayor2(b,c))

print(mayor3(5,3,4))
print(mayor3(5,3,3))
print(mayor3(5,3,5))

In [67]:
import math
a=2
b=math.sqrt(a)# raiz
print(b)

c = 60
c=math.radians(c) #Para sacar grado
d = math.cos(c) #Trabaja por defecto radianes
print(d)

1.4142135623730951
0.5000000000000001

In [79]:
suma = 0.0
n = 10
for c in range(n):
  suma = suma + 1/n

if suma == 1.0:
  print("La suma es 1!!")
else:
  print("la suma no es 1!!!!!!!")

la suma no es 1!!!!!!!

In [ ]:
import time
import random

lista = []
n = 23

while len(lista)<n:
  a = random.randint(0,n)
  #print(a)
  if not(a in lista):
    lista.append(a)

print("lista desordenada")
print(lista)
inicio = time.time()
print("lista ordenada")
for c2 in range(n):
  for c in range(n-1):
    if lista[c]>lista[c+1]:
      temp = lista[c]
      lista[c] = lista[c+1]
      lista[c+1] = temp

fin = time.time()
print("tiempo:", fin-inicio)
print(lista)

In [105]:
a = [0,1,2,3,4,5,6,7,8,9]
b = [0,2,4,6,8]

c = []

for e in a:
  if not(e in b):
    c.append(e)

d = list(set(a)-set(b))
print(c)
print(d)

e = [1,2,3,3,4,5,6,5,4,3,2,1]
e = list(set(e))
print(e)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6]